
<nav class="col s12 m4 l2">

   <div class="nav-wrapper">
        <ul class="navlist hide-on-med-and-down">
            <li><a href="/keuzemenu/">Home</a></li>
            <li><a href="/running/">Go Running</a></li>
            <li><a href="/pooping/">Go Pooping</a></li>
            <li><a href="/swimming/">Go Swimming</a></li>
            <li><a href="/achievements/">Achievements</a></li>        
            <li><button id="btnLogout">Log out</button></li>
        </ul>   
         
     
    <!-- mobile -->    
        
        <ul id="slide-out" class="side-nav" >
            <li><a href="/keuzemenu/">Home</a></li>
            <li><a href="/running/"><img src="../img/running.png" class="icon" >Go Running</a></li>
            <li><a href="/pooping/"><img src="../img/pooping.jpg" class="icon" >Go Pooping</a></li>
            <li><a href="/swimming/"><img src="../img/swimming.png" class="icon" >Go Swimming</a></li>
            <li><a href="/achievements/"><img src="../img/king.jpg" class="icon" >Achievements</a></li>        
            <li><button id="btnLogout_m">Log out</button></li>
        
        </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
       <div id="currentPage" class="hide-on-large-only"></div>
   </div>
    
</nav>